#main-navbar {
  background-color: blue;
  overflow: hidden;
}

#navbar-container {
  position: relative;
  width: 100%;
}

#main-navbar ul {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  right: 50%;
}

#navbar-container li{
  position: relative;
  float: left;
}
#main-navbar a{
  color: #fff;
  float: left;
  text-decoration: none;
  padding: 10px 20px;
}

#main-navbar a:hover {
  display: block;
  background-color: #000;
  text-decoration: underline overline;
}

#sidebar {
  position: fixed; 
  right:0%; 
  background-color: red; 
  height: 100%;
  width: 20%;
}

#sidebar-container ul {  
  list-style-type: none;
  text-align: center;
  padding: 0;
  display: block;
}

#sidebar-container a {
  text-decoration: none;
  color: #fff;
  padding: 15px 0;
}

#sidebar a:hover {
   background-color: #000;
}
