#main-navbar {
  background-color: blue;
  overflow: hidden;
}

#navbar-container {
  position: relative;
  width: 100%;
}

#main-navbar ul {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  left: 50%;
}

#navbar-container li{
  position: relative;
  right: 50%;
  float: left;
  padding: 10px 20px;
}

a{
  color: #fff;
  text-decoration: none;
}

a:hover {
  background-color: #000;
  text-decoration: underline overline;
}
